.notificaciones-container {
  margin-top: 2rem;
}

/* Estilos para el contenedor cuando está cargando */
.notificaciones-container.loading {
  text-align: center;
  padding: 20px;
}

/* Estilos para el texto "Cargando notificaciones..." */
.loading-text {
  margin-left: 10px;
}

.notificacion-leida {
  background-color: #f0f0f0;
}

.notificacion-noleida {
  background-color: #e0ffe0;
}

.titulo-notificaciones {
  font-weight: bold;
  margin-bottom: 1rem;
}

.sin-notificaciones {
  color: #777;
  margin-top: 1rem;
}
.notificaciones-alerta {
  margin-bottom: 16px; 
}